@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2cap grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#50623A, #50623A);
  /* linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet) */
  border-radius: 10px;
}

/* .app{
  margin: 0;
  padding: 10%;
  background-color: aquamarine;
}

.card{
  overflow: hidden;
  width: 525px;
  height: 759px;
  margin: auto;
  padding: auto;
  background-color: #f1f1f1;;
  border-radius: 20px;
}

.login-head{
  display: flex;
  height: 78px;
  font-size: 16px;
  border: 1px solid;
  align-items: center;
  justify-content: space-between;
}

.login-head > span{
  margin: auto;
}

.login-head > button{
  margin-right: 5%;
  height: 24px;
  width: 20px;
}


.title{
  display: flex;
  margin-top: 44px;
  margin-bottom: 58px;
}

.title > h1{
  margin: auto;
}

.title >h1> span {
  background-color: #698152;
  color: white;
  line-height: 44px;
  text-align: center;
  border-radius: 5px;
  letter-spacing:  2px;
} */